<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="click.uploadSns.api.domain.repositories.ImageMapper">

   <resultMap type="click.uploadSns.api.domain.models.Dtos.ImageDto" id="ImageMap">
      <id property="id" column="id" />
      <result property="imageFilePath" column="image_file_path"></result>
      <result property="insertTime" column="insert_time"></result>
      <result property="updateTime" column="update_time"></result>
   </resultMap>

   <select id="findAll" resultMap="ImageMap">
      SELECT 
         img.id,
         img.image_file_path,
         to_char(img.insert_time, 'YYYY/MM/DD HH24:MI') as insert_Time,
         to_char(img.update_time, 'YYYY/MM/DD HH24:MI') as update_Time
      FROM 
         upload_sns.image img
   </select>

   <select id="findById" resultMap="ImageMap">
      SELECT 
         img.id,
         img.image_file_path,
         to_char(img.insert_time, 'YYYY/MM/DD HH24:MI') as insert_Time,
         to_char(img.update_time, 'YYYY/MM/DD HH24:MI') as update_Time
      FROM 
         upload_sns.image img
      WHERE 
         img.id = #{id}
   </select>

   <select id="getTheLatest" resultMap="ImageMap">
      SELECT 
         img.id,
         img.image_file_path,
         to_char(img.insert_time, 'YYYY/MM/DD HH24:MI') as insert_Time,
         to_char(img.update_time, 'YYYY/MM/DD HH24:MI') as update_Time
      FROM 
         upload_sns.image img
      ORDER BY
         img.insert_time
      DESC
      limit 1;
   </select>

   <select id="findByName" resultMap="ImageMap">
      SELECT 
         img.id,
         img.image_file_path,
         to_char(img.insert_time, 'YYYY/MM/DD HH24:MI') as insert_Time,
         to_char(img.update_time, 'YYYY/MM/DD HH24:MI') as update_Time
      FROM 
         upload_sns.image img
      WHERE 
         img.image_file_path = #{name}
   </select>

   <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO 
         upload_sns.image (
            image_file_path,
            insert_time
         )
      VALUES 
      <foreach collection="imageFilePaths" item="imageFilePath" separator=",">
      (
         #{imageFilePath.imageFilePath},
         now() + cast('9 hours' as INTERVAL)
      )
      </foreach>
   </insert>

   <delete id="delete">
      DELETE 
      FROM
         upload_sns.image 
      WHERE
         id = #{id}
   </delete>

   <delete id="deleteByNames">
      DELETE 
      FROM
         upload_sns.image 
      WHERE
      <foreach collection="names" item="name" separator="AND">
         image_file_path = #{name} 
      </foreach>
   </delete>

</mapper>