<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="click.uploadSns.api.domain.repositories.UserMapper">

  <resultMap type="click.uploadSns.api.domain.models.Dtos.UserDto" id="UserMap">
    <id property="id" column="id" />
    <result property="name" column="name"></result>
    <result property="furigana" column="furigana"></result>
    <result property="mail" column="mail"></result>
    <result property="telNo" column="tel_no"></result>
    <result property="password" column="password"></result>
    <result property="role" column="role"></result>
    <result property="insertTime" column="insert_time"></result>
    <result property="updateTime" column="update_time"></result>
    <result property="iconImagePath" column="icon_image_path"></result>
    <result property="comment" column="comment"></result>
    <result property="cognitoId" column="cognito_id"></result>
  </resultMap>

  <select id="findAll" resultMap="UserMap">
    SELECT 
      id,
      name,
      furigana,
      mail,
      tel_no,
      password,
      role,
      to_char(insert_time , 'YYYY/MM/DD HH24:MI') as insert_Time,
      to_char(update_time , 'YYYY/MM/DD HH24:MI') as update_Time,
      icon_image_path,
      comment,
      cognito_id
    FROM
      upload_sns.user
  </select>

  <select id="findById" resultMap="UserMap">
    SELECT 
      id,
      name,
      furigana,
      mail,
      tel_no,
      password,
      role,
      to_char(insert_time , 'YYYY/MM/DD HH24:MI') as insert_Time,
      to_char(update_time , 'YYYY/MM/DD HH24:MI') as update_Time,
      icon_image_path,
      comment,
      cognito_id
    FROM
      upload_sns.user
    WHERE
      id = #{id}
  </select>

  <select id="findByUserName" resultMap="UserMap">
    SELECT 
      id,
      name,
      furigana,
      mail,
      tel_no,
      password,
      role,
      insert_time,
      update_time,
      icon_image_path,
      comment,
      cognito_id
    FROM
      upload_sns.user
    WHERE
      name = #{name}
  </select>

  <select id="findByCognitoId" resultMap="UserMap">
    SELECT 
      id,
      name,
      furigana,
      mail,
      tel_no,
      password,
      role,
      insert_time,
      update_time,
      icon_image_path,
      comment,
      cognito_id
    FROM
      upload_sns.user
    WHERE
      cognito_id = #{cognitoId}
  </select>



  <insert id="insert"  parameterType = "click.uploadSns.api.domain.models.User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
      upload_sns.user (
        name,
        furigana,
        mail,
        tel_no,
        password,
        role,
        insert_time,
        icon_image_path,
        comment,
        cognito_id
      )
    VALUES (
      #{name},
      #{furigana},
      #{mail},
      #{telNo},
      #{password},
      #{role},
      now() + cast('9 hours' as INTERVAL),
      #{iconImagePath},
      #{comment},
      #{cognitoId}
    );
  </insert>

  <update id="update" parameterType = "click.uploadSns.api.domain.models.User">
    UPDATE
      upload_sns.user
    SET
      name = #{name}, 
      furigana = #{furigana},
      mail = #{mail},
      tel_no = #{telNo},
      password = #{password},
      role = #{role} ,
      update_time = now() + cast('9 hours' as INTERVAL),
      icon_image_path = #{iconImagePath},
      comment = #{comment},
      cognito_id = #{cognitoId}
    WHERE 
      id = #{id}
  </update>

  <delete id="delete">
      DELETE
      FROM
        upload_sns.user
      WHERE
        id = #{id}
  </delete>

</mapper>